body {
  display: grid;
  grid-template-areas:
        "header"
        "content"
        "footer"
        "fot";
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 20px;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #1abc9c;
}


/* input {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
} */
.header {
    text-align: center;
    padding: 50px;
    color: white;
    background-color: #1abc9c;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
@media screen and (max-width: 660px) {
  .navbar a {
    float: none;
    width: 100%;
  }

  #ponto {
    font-size: 13px;
  }
  #novoj {
    font-size: 13px;
  }
    
}

h1 {
    text-align: center;
    color: #f9a602;
}

p {
    font-size: 18px;
}

button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 10px auto;
    background-color: #f9a602;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

button:hover {
    background-color: #ffcd03;
}

#resultado {
    font-size: 24px;
    font-weight: bold;
    color: #f9a602;
    text-align: center;
    visibility: hidden;
}

#sair {
  position: sticky;
  width: 60px;
  background-color: #f9a602;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  top: 90%;
  left: 90%;
}

#novoj{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35%;
}

#ponto{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  padding: 20px;
}

.a {
  grid-area: header;
  text-align: center;
  background-color: #1abc9c;
  color: white;
  border-radius: 20px;
  padding: 20px;
}

.b {
  grid-area: content;
  text-align: center;
  padding: 20px;
  position: relative; 
  z-index: 1; 
}

.abs {
  grid-area: footer;
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px; 
}

#ranking{
  grid-area: fot;
}

#container{
  grid-area: content;
  position: relative;
  width: 70px;
  height: 100px;
  margin-right: 0;
  z-index: 2;
}

#carta{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
}


#frente{
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  background: #1abc9c;
  border-radius: 10px;
  color:#ffffff;
}

#tras{
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  background: rgb(255, 255, 255);
  color:#000000;
  transform: rotateY(180deg);
}

#container2{
  grid-area: content;
  position: relative;
  width: 70px;
  height: 100px;
  margin-left: auto; 
  margin-right: 0; 
  align-self: flex-end;
  z-index: 1;
}

#carta2{

  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
  
}


#frente2{
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  background: #1abc9c;
  border-radius: 10px;
  color:#ffffff;
}

#tras2{
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  background: rgb(255, 255, 255);
  color:#000000;
  transform: rotateY(180deg);
}

#container:hover #carta {
  transform: rotateY(180deg);
}
#container2:hover #carta2 {
  transform: rotateY(180deg);
}


#pontuacaoComputador{
  text-align: center;
  font-size: 18px;
}

#pontuacaoJogador{
  text-align: center;
  font-size: 18px;
}

#tras, #tras2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#frente, #frente2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
  margin-bottom: 0px;
}