body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #6B38FB, #4A238D);
}


input {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

#botao {
    padding: 30px;
    margin: 20px;
    position: absolute;
    top: 700px;
    right:75%;
}
  
#passar {
    padding: 30px;
    margin: 20px;
    position: absolute;
    top: 700px;
    right: 50%;
    transform: translateX(50%);
}

#jogardenovo {
    padding: 30px;
    margin: 20px;
    position: absolute;
    top: 700px;
    right: 25%;
    transform: translateX(50%);
}

#somac{
    position: absolute;
    right: 38%;
    transform: translateX(50%);
}

#soma{
    position: absolute;
    right: 65%;
    transform: translateX(-50%);
}

.header {
    text-align: center;
    padding: 50px;
    color: white;
    background-color: #1abc9c;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
